@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(204, 214, 225);
    background-image: url("https://assets-global.website-files.com/634681057b887c6f4830fae2/655beaa4a82f51aec7070034_icons8-team-dhZtNlvNE8M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}